@import "compass";

@import "_misc/normalize";

@import "_misc/mixins";

@import "_misc/adjustment";

@import "sections/header";

@import "sections/breadcrumbs";

@import "sections/product-filter";

@import "sections/mobiles.scss";

@import "sections/important-info";

@import "sections/footer";

.left-sidebar {
  float: left;
  width: 333px;
}

.list-content {
  float: right;
  width: 743px;
  padding-top: 89px;
}
.section-name {
  font-family: OpenSansBold;
  font-size: 20px;
  color: #333333;
  margin-bottom: 20px;
}
