.breadcrumbs {
  margin-bottom: 20px;
  display: inline-block;
}

.breadcrumbs_item {
  display: inline-block;
}

.breadcrumbs_link {
  text-decoration: none;
  color: #333333;
}

.breadcrumbs_link--location {
  color: #ff6708;
  text-decoration: underline;
}


