
.important-col-1 {
  float: left;
  width: 535px;
  margin-bottom: 30px;
}

.important-col-2 {
  float: right;
  width: 535px;
  margin-bottom: 30px;
}

.important-text {
  text-align: justify;
  line-height: 20px;
  font-family: OpenSansRegular;
  font-size: 14px;
  text-indent: 38px;
}