.list-view-header {
  height: 53px;
  border-radius: 6px;
  border-left: 1px solid #dee1e4;
  background-color: #e4ebee;
  line-height: 53px;

  font-family: OpenSansRegular;
  font-size: 14px;
  color: #5d656c;

}

.list-view-header-caption {
  float: left;
  padding-left: 20px;
}

.list-view-select {
  width: 144px;
  height: 28px;
  border-radius: 4px;
  margin-left: 10px;
  -webkit-appearance: none;

  background-image: url('../img/select.png');
  background-position: 95% center;
  background-repeat: no-repeat;

  line-height: 1em;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;

  font-family: OpenSansLight;
  font-size: 14px;
  padding-left: 14px;
}

.list-view-header-choose-type {
  float: right;
}

.list-view__choose {
  display: inline-block;
}

.list-view__choose_list {
  &:first-child {
    border-left: none;
  }
  
  display: inline-block;
  border-left: 1px solid #dee1e4;

}

.list-view__img {
  display: inline-block;
  padding-left: 17px;
  padding-right: 17px;
}

.img--align-center {
  vertical-align: middle;
}