.catalog {
  display: inline-block;

}
.catalog_item {
  &:hover {
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 8px 2px rgba(0, 0, 0, .75);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, .75);
  }
  &:active {
    border: 1px solid black;
    cursor: pointer;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  display: inline-block;
  border: 1px solid black;
  border-radius: 6px;

  margin-right: 25px;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #e4e2e2;
}