.filter {
  background-color: #fbfbfb;
  border: 1px solid #dee1e4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  overflow: hidden;
  margin-bottom: 40px;

}

.button-clear {
  color: #5db2fc;
}
.filter_group {
  padding-left: 30px;
  padding-top: 10px;
  border-bottom: 1px solid #dee1e4;
  /*padding-bottom: 22px;*/
}

.filter_group:last-child {
  margin-bottom: -2px;
}

.filter_header {
  font-family: OpenSansSemiBold;
  font-size: 17px;
  margin-bottom: 15px;
}

.filter_options {
  font-family: OpenSansRegular;
  font-size: 14px;
}

.filter_item {
  margin-bottom: 18px;

  &.filter_item--category {
    padding-left: 30px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-bottom: 0;
    border-bottom: 1px solid #dee1e4;
    color: #7f7f7f;
  }

  &.filter_item--type {
    margin-bottom: 0;
    border-bottom: 1px solid #dee1e4;
    color: #7f7f7f;
  }

  &.filter_item--type:last-child {
    margin-bottom: -2px;
  }

  &.filter_item--selected {
    background-color: #d9e5ea;
  }

  &.filter_item--category:last-child {
    margin-bottom: -2px;
  }

}

/* BEGIN - choose category area */
.category_name {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;

  padding-top: 13px;
  padding-left: 30px;
  padding-bottom: 12px;
}


input[type=checkbox].filter_item__category--check:checked  + label {
  background-color: #d9e5ea;
}

/* END - choose category area */

/* radio*/
input[type=radio] {
  display: none;
}

input[type=radio].filter_item--check_radio:checked  + label:before {

  font-family: FontAwesome;
  content: "\f192"; // checked
  color: #ff6600;
  font-size: 20px;
  text-align: center;
  line-height: 20px;

  position: absolute;
  left: -1px;
  top: 1px;
}

.filter_item_radio {
  cursor: pointer;
  position: relative;
  padding-left: 30px;


  &:before {
    content: "\f10c"; //unchecked
    display: inline-block;
    font-family: FontAwesome;
    color: #e4e6e8;
    font-size: 20px;
    position: absolute;
    left: -1px;
    top: -3px;
    margin-right: 20px;
    bottom: 1px;
  }

}

/* checkbox */
input[type=checkbox] {
  display: none;
}

input[type=checkbox].filter_item--no_in_store:checked + label:before {

  font-family: FontAwesome;
  content: "\f00c";
  font-size: 14px;
  color: #333333;
  text-align: center;
  line-height: 19px;
}

input[type=checkbox].filter_item--check:checked  + label:before {

  font-family: FontAwesome;
  content: "\f00c";
  font-size: 14px;
  color: #FFFFFF;
  background-color: #ff6600;
  text-align: center;
  line-height: 19px;
}

.filter_item_check-box__hidden {
  cursor: pointer;
  position: relative;

  &:before {
    content: "";
    background-color: #dee1e4;
  }
}

.filter_item_check-box {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;

  &:before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    position: absolute;
    left: -1px;
    margin-right: 20px;
    bottom: 1px;
    background-color: #dee1e4;
    border-radius: 2px;
  }

}

/* Group of color filter */
input[type=checkbox].filter_item_color--check:checked  + label:before {

  border: 2px solid #ff6600;

}



.filter_group--colors {
  padding-bottom: 22px;
}

.filter_options_color_item {
  display: inline-block;
  margin: 50px 60px 0 0;
}


// TODO Mixin for color

.filter_item_color_check-box__white {
  cursor: pointer;
  position: relative;
  /*width: 36px;
  height: 36px;
  padding-left: 30px;
  font-size: 14px;*/

  &:before {
    content: "";
    display: inline-block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: -1px;
    margin-right: 20px;
    bottom: 1px;
    border: 1px solid #dee1e4;
    background-color: #ffffff;
  }

}

.filter_item_color_check-box__grey {
  cursor: pointer;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: -1px;
    margin-right: 20px;
    bottom: 1px;
    border: 1px solid #dee1e4;
    background-color: #cccccc;
  }

}

.filter_item_color_check-box__black {
  cursor: pointer;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: -1px;
    margin-right: 20px;
    bottom: 1px;
    border: 1px solid #dee1e4;
    background-color: #000000;;
  }

}

.filter_item_color_check-box__blue {
  cursor: pointer;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: -1px;
    margin-right: 20px;
    bottom: 1px;
    border: 1px solid #dee1e4;
    background-color: #0a3153;
  }

}

.filter_item_color_check-box__red {
  cursor: pointer;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: -1px;
    margin-right: 20px;
    bottom: 1px;
    border: 1px solid #dee1e4;
    background-color: #ff1800;
  }

}

.filter_item_color_check-box__yellow {
  cursor: pointer;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: -1px;
    margin-right: 20px;
    bottom: 1px;
    border: 1px solid #dee1e4;
    background-color: #fff343;
  }

}

.filter_item_color_check-box__orange {
  cursor: pointer;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: -1px;
    margin-right: 20px;
    bottom: 1px;
    border: 1px solid #dee1e4;
    background-color: #fb914a;
  }

}

.filter_item_color_check-box__green {
  cursor: pointer;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: -1px;
    margin-right: 20px;
    bottom: 1px;
    border: 1px solid #dee1e4;
    background-color: #92c37c;
  }

}

.filter_item_color_check-box__cyan {
  cursor: pointer;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: -1px;
    margin-right: 20px;
    bottom: 1px;
    border: 1px solid #dee1e4;
    background-color: #40a6ff;
  }

}

.filter_item_color_check-box__violet {
  cursor: pointer;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: -1px;
    margin-right: 20px;
    bottom: 1px;
    border: 1px solid #dee1e4;
    background-color: #9870ad;
  }

}

.filter_item_color_check-box__pink {
  cursor: pointer;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: -1px;
    margin-right: 20px;
    bottom: 1px;
    border: 1px solid #dee1e4;
    background-color: #dc78ad;
  }

}

.filter_item_color_check-box__brown {
  cursor: pointer;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: -1px;
    margin-right: 20px;
    bottom: 1px;
    border: 1px solid #dee1e4;
    background-color: #7f401d;
  }

}

