$socials: vk, fb, tw; //filename
$icons-spacing: 70px;

@import "icons/*.png";
//$map: sprite-map('icons/*.png', $spacing: 30px);

@each $social in $socials {

  .link-#{$social} {
    @include icons-sprite(#{$social});
    //background: url('/img/icons/#{$social}.png') 50% 50% no-repeat;
    //background-position: 50% 50%;
  }
}

.link-vk {
  background-position: 9px -1284px;
  &:hover {
    background-position: 9px -1202px;
  }
}

.link-fb {
  background-position: 10px -339px;
  &:hover {
    background-position: 10px -257px;
  }
}

.link-tw {
  background-position: 5px -938px;
  &:hover {
    background-position: 5px -856px;
  }
}