.footer {
  position: relative;
  margin-top: -220px;
  height: 220px;
  color: white;
  background: url("../img/background--footer.png") repeat-x;
  min-width: 1100px;
}

.footer-left {
  float: left;
  width: 450px;
}

.footer-right {
  float: right;
  width: 650px;
  margin-bottom: 35px;
}

.socials--footer {
  float: right;
  padding-top: 35px;
}

.socials__item--footer {
  height: 42px;
  background-color: #ffffff;
  width: 42px;
  background-image: url("../img/icons-footer.png");
}

.socials__footer-link {
  background-image: url("../img/icons-footer.png");
}

.link-vk--footer {
  display: block;
  color: white;
  height: 42px;
}

.link-tw--footer {
  display: block;
  color: white;
  height: 42px;
}

.link-fb--footer {
  display: block;
  color: white;
  height: 42px;
}

.link-vk--footer {
  background-position: 165px -30px;
}
.link-vk--footer:hover {
  background-position: 69px -30px;
}

.link-fb--footer {
  background-position: 560px -30px;
}
.link-fb--footer:hover {
  background-position: 469px -30px;
}

.link-tw--footer {
  background-position: 370px -30px;
}
.link-tw--footer:hover {
  background-position: 265px -30px;
}

.links_footer {
  display: inline-block;
  float: right;
  text-align: right;
}

.links__item_footer {
  margin-top: 19px;
}

.link_footer {
  font-family: OpenSansRegular;
  font-size: 14px;
  color: white;
}

.copyright {
  text-align: center;
  padding-top: 9px;
  font-family: OpenSansRegular;
  font-size: 12px;
  border-top: 1px solid #494949;
}
