ul.breadcrumbs
   li.breadcrumbs_item
      a(href="#").breadcrumbs_link Главная >
   li.breadcrumbs_item
      a(href="#").breadcrumbs_link.breadcrumbs_link--location Каталог

.breadcrumbs_section-name Мобильные телефоны
