footer.footer
   .container
      .footer-left
         .logo.footer-logo
            a.logo-link(href="/")
               img.logo-pic(src="/img/cooltech-footer-logo.png" alt="cooltech logo")
               span.logo-text

      .footer-right
         //- Bottom socials
         ul.socials.socials--footer
            -var socials = ['vk', 'fb', 'tw']
            each social in socials
               li.socials__item.socials__item--footer
                  a(href="" class="link-" + social + "--footer")= social

         //- Bottom links
         ul.links_footer
            -var menuItems = ['Планшеты', 'Мобильные телефоны', 'Mp3-плееры', 'Персональные компьютеры', 'Ноутбуки', 'Аксессуары', 'Бытовая техника']
            each item in menuItems
               li.links__item.links__item_footer
                  a(href="#").link_footer= item

   .copyright All rights reserved. 2015. no copy allowed