footer.footer
   .container
      .footer-content Футер
      .logo
         .logo-footer Logo in footer
      //- socials_footer - модифицирует блок
      .socials.socials_footer
         .social__fb fb
         .social__vk vk
         .social__tw tw

      //- переписать как отдельный блок для ссылок в футере
      ul.links.links_footer
         li.links__item
            a(href="#").link Footer Link #1
         li.links__item_footer
            a(href="#").link_footer Footer Link #2
      .copyright &copy;Copyright