header.header
   //- TODO using address tag - good idea
   .top-contacts
      .container
         // Social icons
         ul.socials.socials--header
            -var socials = ['vk', 'fb', 'tw']
            each social in socials
               li.socials__item
                  a(href="" class="social__item link-" + social)= social

         // Contacts
         ul.contacts
            li.map_icon.contacts__address ул. Маяковская 6, офис 17
            li.phone_icon.contacts__phone
               a(href="tel:+79211231313").phone_link +7 (921) 123-12-13
         // Logo image

   .top-search
      .container
         .logo.header-logo
            a.logo-link(href="/")
               img.logo-pic(src="/img/cooltech-header-logo.png" alt="cooltech logo")
               span.logo-text
         // Search area
         form(method="post" action="/").search-form
            input(type="text" placeholder="Что будем искать").search-input
            button(type="button" value="submit").search-button  Найти
         //  Just list in header

         ul.links.links_header
            li.links__item
               a(href="#").link Карта проезда
            li.links__item
               a(href="#").link История заказов
            li.links__item
               a(href="#").link Корзина

   .top-nav
      .container
         include nav
