.list-view-header
   .list-view-header-caption Сортировать по
      select(id="sort",name="sort").list-view-select
         option(selected, value="по цене") по цене
         option(value="по популярности") по популярности
   .list-view-header-caption.list-view-header-caption--change-view Вид каталога
   .list-view-header-choose-type
      ul.list-view__choose
         //li.list-view__choose_list
         //   |Вид каталога
         li.list-view__choose_list
            .list-view__img.list-view__img--preview
               //img(src="/img/view-list-2.png" alt="preview").img--align-center

         li.list-view__choose_list
            .list-view__img.list-view__img--thumbnail.list-view__img--thumbnail-active
               //img(src="/img/view-thumbnail.png" alt="thumbnail").img--align-center
         li.list-view__choose_list
            .list-view__img.list-view__img--list
               //img(src="/img/view-list.png" alt="list").img--align-center


//
   Created by nikolay on 26.10.2015.

