.list-view-header
   .list-view-header-caption Сортировать по
      select(id="sort",name="sort").list-view-select
         option(selected, value="по цене") по цене
         option(value="по популярности") по популярности
   .list-view-header-caption.list-view-header-caption--change-view Вид каталога
   .list-view-header-choose-type
      ul.list-view__choose
         li.list-view__choose_list
            .list-view__img.list-view__img--preview
         li.list-view__choose_list
            .list-view__img.list-view__img--thumbnail.list-view__img--thumbnail-active
         li.list-view__choose_list
            .list-view__img.list-view__img--list

//
   Created by nikolay on 26.10.2015.

