.list-view-header
   span.list-view-header-caption Сортировать по
      select(id="sort",name="sort").list-view-select
         option(selected, value="по цене") по цене
         option(value="по популярности") по популярности
   span.list-view-header-choose-type Вид каталога
      ul.list-view__choose
         li.list-view__choose_list
            a(href="#").list-view__img
               img(src="/img/view-list-2.png" alt="preview")
         li.list-view__choose_list
            a(href="#").list-view__img
               img(src="/img/view-thumbnail.png" alt="thumbnail")
         li.list-view__choose_list
            a(href="#").list-view__img
               img(src="/img/view-list.png" alt="list")


//
   Created by nikolay on 26.10.2015.

