include mixins

//- Mosaic view
#mosaic.container_items

   ul.catalog
      //- using jade-mixin for paste element
      //- +insert_catalog_item("03", modelName, simType, numOfSim,phoneColor,phoneOs,network3G,network4G,gprs,phonePrice)

      +insert_catalog_item("01", "Samsung GT-I9301I GALAXY S 3", "Micro-SIM", "1", "Белый", "Android", "Есть",
      "Нет", "Есть", "11 290")

      +insert_catalog_item("02", "Microsoft Lumia 640 RM-1077", "Micro-SIM", "2", "Белый", "Windows Phone", "Есть",
   "Нет", "A-GPS", "10 990")

      +insert_catalog_item("03", "Archos 50 Oxygen Plus", "Micro-SIM", "2", "Серый", "Android", "Есть",
      "Нет", "Есть", "9 990")

      +insert_catalog_item("02", "Microsoft Lumia 640 RM-1077", "Micro-SIM", "2", "Белый", "Windows Phone", "Есть",
      "Нет", "A-GPS", "10 990")

      +insert_catalog_item("01", "Samsung GT-I9301I GALAXY S 3", "Micro-SIM", "1", "Белый", "Android", "Есть",
      "Нет", "Есть", "11 290")

      +insert_catalog_item("03", "Archos 50 Oxygen Plus", "Micro-SIM", "2", "Серый", "Android", "Есть",
      "Нет", "Есть", "9 990")

      +insert_catalog_item("01", "Samsung GT-I9301I GALAXY S 3", "Micro-SIM", "1", "Белый", "Android", "Есть",
      "Нет", "Есть", "11 290")

      +insert_catalog_item("02", "Microsoft Lumia 640 RM-1077", "Micro-SIM", "2", "Белый", "Windows Phone", "Есть",
      "Нет", "A-GPS", "10 990")

      +insert_catalog_item("03", "Archos 50 Oxygen Plus", "Micro-SIM", "2", "Серый", "Android", "Есть",
      "Нет", "Есть", "9 990")

//- Thumbnail Table List view
#thumbs.container_items.table-thumbnail-view.items--hide
   ul.catalog_item.item-in-table
      li.col-1
         .catalog_item_image
               img(src="/img/01.png",alt="model01").catalog_item_icons__big-foto
            ul.catalog_item_icons.icons-in-table
               li.catalog_item_icons__preview
                  img(src="/img/01-01.png", alt="01")
               li.catalog_item_icons__preview
                  img(src="/img/01-02.png", alt="02")
               li.catalog_item_icons__preview
                  img(src="/img/01-03.png", alt="03")
            .catalog_item_prod_info.prod-info-in-table
               .prod_info Артикул
                  span.prod_num  189238
      li.col-2
         .info_data
            .catalog_item__model_name.name-in-table Samsung GT-I9301I GALAXY S 3
            .catalog_item__description.description-in-table
                  | Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White
                  | Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE,
                  | GPRS, WAP, Wi-Fi, Количество ядер
                  | процессора 4, Частота процессора 1400 МГц...
            .catalog-rating.rating-in-table
               //- TODO refactor for custom rating
               img(src="/img/star-red.png", alt="1star").catalog-rating__star
               img(src="/img/star-red.png", alt="1star").catalog-rating__star
               img(src="/img/star-red.png", alt="1star").catalog-rating__star
               img(src="/img/star-red.png", alt="1star").catalog-rating__star
               img(src="/img/star-white.png", alt="no star").catalog-rating__star
               span.catalog-num-rating 4
      li.col-3
         .info_price
            .catalog-price.price-in-table 11 290 ₽
         .basket-info
            button().add-to-basket.button-in-table В корзину
            .catalog-store__text.text-in-table
               img(src="/img/in-store.png", width="9", height="9", alt="В наличии").catalog-store__image
               |В наличии
   ul.catalog_item.item-in-table
      li.col-1
         .catalog_item_image
            img(src="/img/01.png",alt="model01").catalog_item_icons__big-foto
         ul.catalog_item_icons.icons-in-table
            li.catalog_item_icons__preview
               img(src="/img/01-01.png", alt="01")
            li.catalog_item_icons__preview
               img(src="/img/01-02.png", alt="02")
            li.catalog_item_icons__preview
               img(src="/img/01-03.png", alt="03")
         .catalog_item_prod_info.prod-info-in-table
            .prod_info Артикул
               span.prod_num  189238
         //td
      li.col-2
         .info_data
            .catalog_item__model_name.name-in-table Samsung GT-I9301I GALAXY S 3
            .catalog_item__description.description-in-table
               | Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White
               | Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE,
               | GPRS, WAP, Wi-Fi, Количество ядер
               | процессора 4, Частота процессора 1400 МГц...
            .catalog-rating.rating-in-table
               //- TODO refactor for custom rating
               img(src="/img/star-red.png", alt="1star").catalog-rating__star
               img(src="/img/star-red.png", alt="1star").catalog-rating__star
               img(src="/img/star-red.png", alt="1star").catalog-rating__star
               img(src="/img/star-red.png", alt="1star").catalog-rating__star
               img(src="/img/star-white.png", alt="no star").catalog-rating__star
               span.catalog-num-rating 4
            // td
      li.col-3
         .info_price
            .catalog-price.price-in-table 11 290 ₽
         .basket-info
            button().add-to-basket.button-in-table В корзину
            .catalog-store__text.text-in-table
               img(src="/img/in-store.png", width="9", height="9", alt="В наличии").catalog-store__image
               |В наличии

   ul.catalog_item.item-in-table
      //td
      li.col-1
         .catalog_item_image
            img(src="/img/01.png",alt="model01").catalog_item_icons__big-foto
         ul.catalog_item_icons.icons-in-table
            li.catalog_item_icons__preview
               img(src="/img/01-01.png", alt="01")
            li.catalog_item_icons__preview
               img(src="/img/01-02.png", alt="02")
            li.catalog_item_icons__preview
               img(src="/img/01-03.png", alt="03")
         .catalog_item_prod_info.prod-info-in-table
            .prod_info Артикул
               span.prod_num  189238
         //td
      li.col-2
         .info_data
            .catalog_item__model_name.name-in-table Samsung GT-I9301I GALAXY S 3
            .catalog_item__description.description-in-table
               | Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White
               | Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE,
               | GPRS, WAP, Wi-Fi, Количество ядер
               | процессора 4, Частота процессора 1400 МГц...
            .catalog-rating.rating-in-table
               //- TODO refactor for custom rating
               img(src="/img/star-red.png", alt="1star").catalog-rating__star
               img(src="/img/star-red.png", alt="1star").catalog-rating__star
               img(src="/img/star-red.png", alt="1star").catalog-rating__star
               img(src="/img/star-red.png", alt="1star").catalog-rating__star
               img(src="/img/star-white.png", alt="no star").catalog-rating__star
               span.catalog-num-rating 4
            // td
      li.col-3
         .info_price
            .catalog-price.price-in-table 11 290 ₽
         .basket-info
            button().add-to-basket.button-in-table В корзину
            .catalog-store__text.text-in-table
               img(src="/img/in-store.png", width="9", height="9", alt="В наличии").catalog-store__image
               |В наличии

//- Simple ListView
#list.container_items.items--hide
   .table-thumbnail-view
      .catalog_item.item-in-table.item--in-row-list
           .catalog_item_prod_info.prod-info-in-table
               .prod_info.prod_info--list-view Артикул
               .prod_num.prod-num--in-row 189238
               .description--wrapper
                  .fixed_wrapper
                     .catalog_item__model_name.model_name--list-view.list-view--in-row Смартфон Samsung GT-I9301I GALAXY S 3
               .catalog-price.catalog-price--in-row 11 290 ₽
               .catalog-store__text.store__text--in-row
                  img(src="/img/in-store.png", width="9", height="9", alt="В наличии").catalog-store__image.image--in-row
                  |В наличии
                  button().add-to-basket.button--in-row В корзину

      .catalog_item.item-in-table.item--in-row-list
           .catalog_item_prod_info.prod-info-in-table
               .prod_info.prod_info--list-view Артикул
               .prod_num.prod-num--in-row 189238
               .description--wrapper
                  .fixed_wrapper
                     .catalog_item__model_name.model_name--list-view.list-view--in-row Смартфон Samsung GT-I9301I GALAXY S 3
               .catalog-price.catalog-price--in-row 11 290 ₽
               .catalog-store__text.store__text--in-row
                  img(src="/img/in-store.png", width="9", height="9", alt="В наличии").catalog-store__image.image--in-row
                  |В наличии
                  button().add-to-basket.button--in-row В корзину

      .catalog_item.item-in-table.item--in-row-list
           .catalog_item_prod_info.prod-info-in-table
               .prod_info.prod_info--list-view Артикул
               .prod_num.prod-num--in-row 189238
               .description--wrapper
                  .fixed_wrapper
                     .catalog_item__model_name.model_name--list-view.list-view--in-row Смартфон Samsung GT-I9301I GALAXY S 3
               .catalog-price.catalog-price--in-row 11 290 ₽
               .catalog-store__text.store__text--in-row
                  img(src="/img/in-store.png", width="9", height="9", alt="В наличии").catalog-store__image.image--in-row
                  |В наличии
                  button().add-to-basket.button--in-row В корзину

ul.pager
   li.pager__page
      a(href="").pager__link <
   li.pager__page.pager__page--active
      a(href="").pager__link 1
   li.pager__page
      a(href="").pager__link 2
   li.pager__page
      a(href="").pager__link 3
   li.pager__page
      a(href="").pager__link >




   //ul.catalog
   //   li.catalog_item.item-in-table
   //      .prod_info Артикул
   //         span.prod_num  189238
   //      .catalog_item__model_name.name-in-table Смартфон Samsung GT-I9301I GALAXY S 3
   //      .catalog-price 11 290 ₽
   //      .catalog-store__text
   //         img(src="/img/in-store.png", width="9", height="9", alt="В наличии").catalog-store__image
   //         | В наличии
   //      button().add-to-basket.button-in-table В корзину



//
   Created by ignatiev.no on 26.10.2015.

