ul.catalog
   li.catalog_item
      .catalog_item__image Image
         ul.image-network-icons
            li.image-network-icons__preview-1 Preview-1
            li.image-network-icon__preview-2 Preview-2
            li.image-network-icon__preview-3 Preview-2
      //.catalog_item__model
      //ul.catalog_item_model-features
      //   li.catalog-item__model-type Тип SIM-Карты
      //   li.catalog-item__num-of-sim Кол-во SIM-карт
      //   li.catalog-item__model-color Цвет
      //   li.catalog-item__model-os ОС
      //   li.catalog-item__model-network Связь 3G
      //   li.catalog-item__model-4g 4G(LTE)
      //   li.catalog-item__model-gps GPS-модуль
      table.catalog_item_info
         tr
            th(colspan=2).catalog_item__model Samsung GT-I9301I Galaxy S 3
         tr
            td Тип SIM-Карты
            td Micro-SIM
         tr
            td Кол-во SIM-карт
            td 1
         tr
            td Цвет
            td Белый
         tr
            td ОС
            td Android
         tr
            td Связь 3G
            td Есть
         tr
            td 4G(LTE)
            td Нет
         tr
            td GPS-модуль
            td Есть

      .catalog-rating Rating
      .catalog-price Price
      .store В наличии
      button() В корзину


//
   Created by ignatiev.no on 26.10.2015.

