nav.nav
   ul.nav_list
      li.nav_item
         a(href="#").nav_link Планшеты
      li.nav_item.nav_item--current
         a(href="#").nav_link Мобильные телефоны
      li.nav_item
         a(href="#").nav_link Mp3 плееры
      li.nav_item
         a(href="#").nav_link Персональные компьютеры
      li.nav_item
         a(href="#").nav_link Ноутбуки
      li.nav_item
         a(href="#").nav_link Аксессуары
      li.nav_item
         a(href="#").nav_link Бытовая техника