.filter
   .filter_group
      .filter_header Наличие в магазинах
         ul.filter_options
            li.filter_item Во всех магазинах
            li.filter_item В ближайшем ко мне магазине
   .filter_group
      .filter_header Бренды
         ul.filter_options
            li.filter_item Lenovo
            li.filter_item Apple
            li.filter_item Samsung
            li.filter_item Asus
            li.filter_item Motorolla
   .filter_group
      .filter_header Цена
         ul.filter_options
   .filter_group.filter_group--colors
      .filter_header Цвет
         ul.filter_options_color
            li.filter_options_color_item.item_color--white
            li.filter_options_color_item.item_color--grey.item_color--selected
            li.filter_options_color_item.item_color--black
            li.filter_options_color_item.item_color--blue

            li.filter_options_color_item.item_color--red
            li.filter_options_color_item.item_color--yellow
            li.filter_options_color_item.item_color--orange
            li.filter_options_color_item.item_color--green

            li.filter_options_color_item.item_color--cyan
            li.filter_options_color_item.item_color--violet
            li.filter_options_color_item.item_color--pink
            li.filter_options_color_item.item_color--brown

   .filter_group
      .filter_header Операционные системы
         ul.filter_options
            li.filter_item Android
            li.filter_item iOS
            li.filter_item Windows Mobile
            li.filter_item Symbian
            li.filter_item Custom
